<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DynamicProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3415B901C1D40B2005F1C15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3415BA91C1D40B3005F1C15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3415BB41C1D40B3005F1C15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
